<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Simple Log-In</name>
    <description>
        An app that store and retrieve data from user input.
    </description>
    <author>
        Oliva Orlie Takken 
    </author>
    <icon src="o.png" />
    <content src="index.html" />
    <access origin="*" />
</widget>
